@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.Routing
@inject IUrlHelperFactory UrlHelperFactory

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />

  <title>@ViewData["Title"] - LearnFlow</title>

  <!-- Bootstrap core CSS -->
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="~/css/fontawesome.css" />
  <link rel="stylesheet" href="~/css/templatemo-scholar.css" />
  <link rel="stylesheet" href="~/css/owl.css" />
  <link rel="stylesheet" href="~/css/animate.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/list.css" />
  <link rel="stylesheet" href="~/css/site2.css" />

  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <!--

  TemplateMo 586 Scholar

  https://templatemo.com/tm-586-scholar



  -->
  <style>
    /* Dropdown button styling (similar to 'Home' button) */

    /* Dropdown button styling (no border, smaller font) */
    .dropbtn {
      background-color: transparent;
      /* No background */
      border: none;
      /* Remove border */
      color: white;
      /* White text */
      padding: 0px 20px;
      /* Adjust padding as needed */
      /* Bold text */
      font-size: 14px;
      /* Smaller font */
      cursor: pointer;
      /* Pointer cursor */
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    /* Hover effect for the dropdown button */


    /* Dropdown container styling */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown content styling */
    .dropdown-content {
      display: none;
      /* Hidden by default */
      position: absolute;
      background-color: transparent;
      /* Transparent background */
      min-width: 160px;
      z-index: 1;
      padding: 5px 0;
      /* Vertical padding for dropdown items */
    }

    /* Dropdown items styling */
    .dropdown-content a {
      color: white;
      /* White text */
      padding: 5px 8px;
      text-decoration: none;
      display: block;

      font-size: 14px;
      /* Smaller font size */
      transition: background-color 0.3s ease;
    }

    /* Hover effect for dropdown items */
    .dropdown-content a:hover {
      background-color: rgba(255, 255, 255, 0.1);
      /* Light transparent hover effect */
    }

    /* Show dropdown content on hover */
    .dropdown:hover .dropdown-content {
      display: block;
      top: 100%;
      /* Aligns dropdown directly below the button */
    }

    /* Active shadow for active nav item */
    .active-shadow {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a asp-action="Index" asp-controller="Home" class="logo">
              <h1>LearnFlow</h1>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Serach Start ***** -->
            <div class="search-input">
              <form id="search" action="/Course/Search" method="post">
                <input type="text" placeholder="Search for  courses" id="searchText" name="searchKeyword"
                  autocomplete="off" />
                <i class="fa fa-search"></i>
              </form>
              <ul id="courseList" class="autocomplete-list"></ul>
            </div>
            <!-- ***** Serach Start ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section ">
                <a id="top" asp-controller="Home" asp-action="Index" class="@IsActive("Home", "Index")">Home</a>
              </li>
              @{
                @* check if he is student *@
                if (User.IsInRole("Student"))
                {
                  <li class="scroll-to-section ">
                    <a asp-controller="Course" asp-action="MyCourses" class="@IsActive("Course", "MyCourses")">My
                      Courses</a>
                  </li>
                  <li
                    class="scroll-to-section dropdown @IsActive("Student", "StudentIndex") @IsActive("Student", "Details") @IsActive("Student", "Result")">
                    <button class="dropbtn">Student Options</button>
                    <div class="dropdown-content">
                      <a asp-controller="Student" asp-action="StudentIndex"
                        asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Index</a>
                      <a asp-controller="Student" asp-action="Details"
                        asp-route-studentId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Details</a>
                      <a asp-controller="Student" asp-action="Result"
                        asp-route-studentId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Result Of Quiz</a>
                    </div>
                  </li>
                }

                @* check if he is admin *@
                else if (User.IsInRole("Admin"))
                {
                  <li
                    class="scroll-to-section dropdown @IsActive("Admin", "Instructors") @IsActive("Admin", "VerifyCourses")">
                    <button class="dropbtn">Admin Options</button>
                    <div class="dropdown-content">
                      <a asp-controller="Admin" asp-action="Instructors">Instructors</a>
                      <a asp-controller="Admin" asp-action="VerifyCourses">Verify Courses</a>
                    </div>
                  </li>
                }

                else if (User.IsInRole("Instructor"))
                {
                  <li class="scroll-to-section ">
                    <a asp-controller="CourseInstructor" asp-action="InstructorDashboard" class="@IsActive("CourseInstructor", "InstructorDashboard")">My
                      Dashboard</a>
                  </li>
                }
              }
              <li class="scroll-to-section">
                <a asp-action="Index" asp-controller="Course" class="@IsActive("Course", "Index")">Courses</a>
              </li>
              @* check if he authorized *@
              @{
                if (User.Identity.IsAuthenticated)
                {
                  @* view profile *@
                  <li class="scroll-to-section ">
                    <a asp-controller="User" asp-action="ViewProfile" class="@IsActive("User", "ViewProfile")"
                      asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Profile</a>
                  </li>
                  @* logout *@
                  <li class="scroll-to-section ">
                    <a asp-controller="Account" asp-action="LogOut" class="@IsActive("Account", "LogOut")">Log Out</a>
                  </li>
                }
                else
                {
                  @* login *@
                  <li class="scroll-to-section ">
                    <a asp-controller="Account" asp-action="LogIn" class="@IsActive("Account", "LogIn")">Log In</a>
                  </li>
                  @* Register *@
                  <li class="scroll-to-section ">
                    <a asp-controller="Account" asp-action="Register" class="@IsActive("Account", "Register")">Register
                      Now!</a>
                  </li>
                }
              }
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="top">
    <div class="container">
      @RenderBody()
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>
          Copyright © 2036 Scholar Organization. All rights reserved.
          &nbsp;&nbsp;&nbsp; Design:
          <a href="https://templatemo.com" rel="nofollow" target="_blank">TemplateMo</a>
          Distribution:
          <a href="https://themewagon.com" rel="nofollow" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/js/isotope.min.js"></script>
  <script src="~/js/owl-carousel.js"></script>
  <script src="~/js/counter.js"></script>
  <script src="~/js/custom.js"></script>
  <script src="~/js/script.js"></script>
  <!-- Render the Scripts section here -->
  @RenderSection("Scripts", required: false)
</body>

</html>

@{
  string IsActive(string controller, string action)
  {
    var routeData = Context.GetRouteData();
    var currentController = routeData.Values["controller"]?.ToString();
    var currentAction = routeData.Values["action"]?.ToString();

    return string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase) &&
    string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase)
    ? "active"
    : string.Empty;
  }
}
